html {
    scroll-behavior: smooth;

}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#radioGroup {
    background-color: grey;
    width: 82%;
    height: 80%;
    margin: 5% 0 0 18%;
}

#details {
    text-align: left;
    margin-left: -30px;
}

#detailsPhotos {
    border: 2px solid white;
    justify-content: space-around;
    width: 50%;
}

img {
    margin-left: 15px;
    margin-top: 5px;
    width: 90%;
    height: 90%;

}


